* {
  /*to suite all browsers*/
  margin: 0%;
  padding: 0%;
}
:root {
  --primary-Color: black;
  --secondary-Color: white;
  --gray-Color: rgba(59, 58, 58, 0.911);
  --aside-Bgcolor: #f3f3f3;
}
a {
  color: blue;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  box-sizing: border-box;
  height: 100vh;
}
.main {
  display: flex;
  width: 60%;
  margin: 4% auto 0 auto;
}
/* Main Nav  */
.nav-Container {
  border-bottom: 1px solid var(--primary-Color);
  background-color: var(--secondary-Color);
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-Container__logo {
  background-color: var(--gray-Color);
  color: var(--secondary-Color);
  text-decoration: none;
  display: block;
  text-align: center;
  width: max-content;
  padding: 0.5rem 2rem;
}
.nav-Container__logo > label {
  cursor: pointer;
}
/* Main Article Styling */
.main__article {
  margin: 1rem 0;
  height: 100vh;
  width: 65%;
  line-height: 1.5;
  margin-right: 10rem;
}
.main__article__section h2 {
  margin-bottom: 1rem;
}
.main__article__section__abstract,
.main__article__section__introduction {
  margin-top: 1rem;
}

.main__article__header__links {
  display: flex;
  margin: 1rem 0;
}
/* Aside Styling */
.main__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--aside-Bgcolor);
  position: fixed;
  width: 20vw;
  right: 20vw;
  top: 4.5rem;
}
/* Aside Nav */
.main__aside__nav {
  padding: 0.5rem;
  width: 20vw;
}
.main__aside__nav__back {
  display: none;
  border: none;
  background: none;
  border-bottom: 1px solid var(--primary-Color);
  padding: 0.7rem;
  width: 100%;
  text-align: left;
}
.main__aside__nav__list {
  display: flex;
  justify-content: center;
}
.main__aside__nav__list__icons {
  background: none;
  padding: 0.3rem;
  border: none;
}
.fig-Icon {
  /* Default active for first icon*/
  border-bottom: 3px solid var(--gray-Color);
}
.main__aside__nav__list img {
  width: 1rem;
  height: 1rem;
  align-self: center;
}

/* Aside Content */
.main__aside__content {
  height: 100vh;
  width: 20vw;
  overflow: scroll;
  overflow-x: hidden;
}
.main__aside__content__section {
  padding: 1rem;
}
/*Default view for first aside content*/
.figures {
  display: block;
}
.figures > div {
  border-bottom: 3px solid var(--primary-Color);
  margin-top: 1rem;
  line-height: 1.3 !important;
}
.figures > div > figure > figcaption {
  margin-bottom: 2rem;
}
.figures img {
  width: 100%;
}
.main__aside__content__section > div {
  margin-bottom: 2rem;
  line-height: 2;
}
.main__aside__content__section h3 {
  border-bottom: 1px solid var(--gray-Color);
  color: var(--gray-Color);
}
.main__aside__content__section a {
  color: var(--primary-Color);
}
.details,
.references,
.related {
  display: none;
}

@media only screen and (min-width: 790px) and (max-width: 1024px) {
  .main {
    width: 70%;
  }
  .main__article {
    width: 70%;
    margin-top: 5%;
  }
  .main__aside {
    right: 2vw;
    width: 30vw;
  }
  .main__aside__nav__list {
    font-size: 0.8rem;
  }
  .main__aside__content {
    width: 30vw;
  }
}
@media only screen and (min-width: 540px) and (max-width: 790px) {
  .main {
    width: 80%;
  }
  .main__article {
    margin-top: 3rem;
  }
  .main__aside {
    right: 2vw;
    width: 35vw;
  }
  .main__aside__nav__list button {
    font-size: 0.6rem;
  }
  .main__aside__content {
    width: 35vw;
  }
}
@media screen and (max-width: 540px) {
  .main {
    width: 90%;
    margin-top: 3rem;
    position: relative;
  }
  .main__article {
    width: 100%;
    margin-right: 0%;
  }
  .nav-Container,
  .main__article {
    display: block;
  }

  .nav-Container.hide-Article,
  .main__article.hide-Article {
    animation-duration: 1.5s;
    animation-name: slideout;
    animation-fill-mode: forwards;
  }
  @keyframes slideout {
    from {
      margin-left: 0%;
      width: 100%;
    }

    to {
      margin-left: -200%;
      width: 100%;
    }
  }
  .main__aside {
    width: 5%;
    background-color: initial;
    right: 0rem;
    top: 2rem;
    align-items: flex-start;
    position: relative;
  }
  .main__aside.clicked {
    top: -1.5rem;
    position: absolute;
    width: 100%;
  }

  .main__aside__content {
    display: none;
    width: 100%;
    top: 0;
  }
  .main__aside__nav {
    width: 100%;
    padding: 0rem;
  }
  .main__aside__nav__back,
  .main__aside__nav__list.hide-List,
  .main__aside__nav__list figcaption {
    display: none;
  }
  .main__aside__nav__back.show-Back,
  .main__aside__content.show-Content {
    display: block;
    animation-duration: 1s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .main__aside__nav__list {
    flex-direction: column;
  }
  .main__aside__nav__list__icons {
    border-bottom: 0px !important;
  }
}
